<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB89hXX0PFTckmheqUNOtSZ319Qgb5L0KM</string>
	<key>GCM_SENDER_ID</key>
	<string>544396889180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wolfproject5</string>
	<key>STORAGE_BUCKET</key>
	<string>wolfproject5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544396889180:ios:1465254756d4a672c26a99</string>
</dict>
</plist>